<html>
<body>
  <form action="/produtos/salva" method="post">
    <div>
      <label for="titulo">Titulo</label>
      <input type="text" name="name" placeholder="coloque o titulo"/>
    </div>
    <input type="submit" name="" value="gravar">
  </form>
</body>
</html>
<style> body{ text-align: center;}</style>
