<html>
<body>
  <table>
    <tr>
      <td>id</td>
      <td>nome</td>
      <%for(var i=0; i<lista.length; i++){%>
        <tr>
          <td><%=lista[i].name%></td>
        </tr>
      <%}%>
    </tr>
    <tr>
      <td>1</td>
      <td>livro de node js</td>

    </tr>
  </table>
</body>
</html>
